/*Body*/
body{
    /*Text*/
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 10px;
    /*Box*/
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg) ;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

/*Header*/
header{
    /*Box*/
    padding: 40px 60px;
    
    /*Display*/
    display: flex;
    flex-basis: 100%;
}
header img{
    width: 22em;
}
/*Main*/
main{
    /*Display*/
    display:flex;
    padding:10px 5%;
}
.main_img{
    /*Display*/
    flex-basis: 50%;
}
.main_text{
    /*Text*/
    font-size: 1.9em;
    font-weight: 300;
    /*Box*/
    padding: 10px 40px;
    /*Display*/
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}
.main_text_head{
    /*Text*/
    font-size: 3rem;
    font-weight: bold;
    /*Box*/
    margin: 0;
}
.main_text_button{
    /*Text*/
    font-size: 1rem;
    color:hsl(257, 40%, 49%);
    font-weight: 500;
    /*Box*/
    padding: 15px 60px;
    border-radius: 40px;
    border: none;
    box-shadow: 2px 2px 5px rgb(39, 39, 39);
    /*Transition*/
    transition: background-color 200ms ease-in-out;
    /*display*/
    display: inline-block;
}
.main_text_button:hover{
    background-color: hsl(258, 100%, 92%);
    cursor:pointer;
}
/*Footer*/