/*Body*/
body{
    /*Text*/
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 10px;
    /*Box*/
    background-color: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg) ;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

/*Header*/
header{
    /*Box*/
    padding: 40px 60px;
    
    /*Display*/
    display: flex;
    flex-basis: 100%;
}
header img{
    width: 22em;
}
/*Main*/
main{
    /*Display*/
    display:flex;
    padding:10px 5%;
    /*Text*/
    font-size: 2.1em;
}
.main_img{
    /*Display*/
    flex-basis: 50%;
}
.main_img img{
    width: 100%
}
.main_text{
    /*Text*/
    font-weight: 300;
    /*Box*/
    padding: 10px 40px;
    /*Display*/
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}
.main_text_head{
    /*Text*/
    font-size: 2.4em;
    font-weight: bold;
    /*Box*/
    margin: 0;
}
.main_text_button{
    /*Text*/
    font-size: 0.8em;
    color:hsl(257, 40%, 49%);
    font-weight: 500;
    /*Box*/
    padding: 15px 60px;
    border-radius: 40px;
    border: none;
    box-shadow: 2px 2px 5px rgb(39, 39, 39);
    /*Transition*/
    transition: background-color 200ms ease-in-out;
    /*display*/
    display: inline-block;
}
.main_text_button:hover{
    background-color: hsl(258, 100%, 92%);
    cursor:pointer;
}

/*Footer*/
footer{
    /*display*/
    display: flex;
    justify-content: end;
    flex-basis: 100%;
    /*Box*/
    padding: 0 100px;
    /*Flag*/
}

.footer_icon{
    /*Box*/
    width:1rem;
    height: 1rem;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 50%;
    margin: 5px 5px;
}

.footer_icon:hover{
    cursor: pointer;
}

/*Media Query*/
@media (max-width: 1100px){
    /*Change main sizes*/
    main{
        /*Display*/
        align-items: center;
        /*Text*/
        font-size: 1.8em;
    }
}

@media (max-width: 660px){
    /*Header*/
    header{
        padding: 15px 30px;
    }
    /*Main*/
    main{
        /*Display*/
        flex-direction: column;
    }
    .main_img{
        margin-bottom: 20px;
    }
    .main_text{
        text-align: center;
        font-size: 1.2em;
    }
    /*Footer*/
    footer{
        padding: 0;
        justify-content: center;
        margin-bottom: 10px;
    }
}

@media (max-width: 376px){
    main{
        font-size: 0.7rem;
    }
}